// %box-shadow{
//     box-shadow: 5px 5px 10px #000;
//     border-radius: 30px;
//     background-color: pink;
//     border: groove blue 5px;
//     padding: 20px;
//     text-align: center;
// }
// %fonts{
//     font-size: 35px;
//     font-family: $font-bold;
//     color: $pr4-dark-3;
// }
// @mixin box-shadow {
//     box-shadow: 5px 5px 10px #000;
//     border-radius: 30px;
//     background-color: pink;
//     border: groove blue 5px;
//     padding: 20px;
//     text-align: center;
// }
@mixin font($size:35px,$font:$font-medium,$color:$pr4-dark-3) {
    font-size: $size;
    font-family: $font;
    color:$color;
}
@mixin btn ($width,$dg,$heigth:50px,$font:$font-medium,$border:none,$color:$ligth){
    width: $width;
    background: $dg;
    height: $heigth;
    font-family: $font;
    border:$border;
    color:$color;
    border-radius: 4px;
    outline: 0 !important;
}
@mixin input-element ($bg:$ligth,$border:solid 1px $pr4-ligth-2,$size:13px,$width:320px,$heigth:50px,$font:$font-regular,$color:$primary-4,$outline:0,$padding-left:20px,$border-radius:3px) {
    background-color: $bg;
    border: $border;
    font-size: $size;
    width: $width;
    height: $heigth;
    font-family: $font;
    color:$color;
    outline: $outline;
    padding-left:$padding-left;
    border-radius:$border-radius;
}
@mixin page-number ($bg:$ligth,$width:50px,$font:$font-regular,$heigth:50px,$size:13px,$border:solid 1px $pr4-ligth-2,$outline:0,$border-radius:2px) {
    background-color: $bg;
    width: $width;
    font-family: $font;
    height: $heigth;
    font-size: $size;
    border: $border;
    outline: $outline;
    border-radius:$border-radius;
}