//однорядкові коментарі

/*
colors багаторядкові коментарі
*/

// primary
$primary-1:#03a9f4;
$primary-2:#f75e2e;
$primary-3:#ecfa4d;
$primary-4:#656a70;
$ligth:#fff;
$dark:#000;

// lighten 1 level
// $pr1-ligth-1:lighten($primary-1,10%);

// darken 1 level
// $pr1-dark-1:darken($primary-1,10%);

// lighten 1 level
$pr1-ligth-1:mix(#fff,$primary-1,40%);
$pr2-ligth-1:mix(#fff,$primary-2,40%);
$pr3-ligth-1:mix(#fff,$primary-3,40%);
$pr4-ligth-1:mix(#fff,$primary-4,40%);
// lighten 2 level
$pr1-ligth-2:mix(#fff,$primary-1,75%);
$pr2-ligth-2:mix(#fff,$primary-2,75%);
$pr3-ligth-2:mix(#fff,$primary-3,75%);
$pr4-ligth-2:mix(#fff,$primary-4,75%);
// lighten 3 level
$pr1-ligth-3:mix(#fff,$primary-1,90%);
$pr2-ligth-3:mix(#fff,$primary-2,90%);
$pr3-ligth-3:mix(#fff,$primary-3,90%);
$pr4-ligth-3:mix(#fff,$primary-4,90%);

// darken 1 level
$pr1-dark-1:mix(#000,$primary-1,20%);
$pr2-dark-1:mix(#000,$primary-2,20%);
$pr3-dark-1:mix(#000,$primary-3,20%);
$pr4-dark-1:mix(#000,$primary-4,20%);
// darken 2 level
$pr1-dark-2:mix(#000,$primary-1,50%);
$pr2-dark-2:mix(#000,$primary-2,50%);
$pr3-dark-2:mix(#000,$primary-3,50%);
$pr4-dark-2:mix(#000,$primary-4,50%);
// darken 3 level
$pr1-dark-3:mix(#000,$primary-1,70%);
$pr2-dark-3:mix(#000,$primary-2,70%);
$pr3-dark-3:mix(#000,$primary-3,70%);
$pr4-dark-3:mix(#000,$primary-4,70%);


// Fonts
$font-normal:'MuseoSans-500';

$font-light:'Poppins-Light';
$font-regular:'Poppins-Regular';
$font-medium:'Poppins-Medium';
$font-bold:'Poppins-Bold';
$font-semibild:'Poppins-SemiBold';

$font-general-normal:'OpenSans';
$font-general-light:'OpenSans-Light';
$font-general-bold:'OpenSans-Bold';
$font-general-semibild:'OpenSans-Semibold';
$font-general-extrabold:'OpenSans-Extrabold';

// secondary font
$font-secondary-normal:'OpenSans-Italic';
$font-secondary-light:'OpenSansLight-Italic';
$font-secondary-bold:'OpenSans-BoldItalic';
$font-secondary-semibild:'OpenSans-SemiboldItalic';
$font-secondary-extrabold:'OpenSans-ExtraboldItalic';





