.bg-header{
  background-color: $primary-1;
  padding-top: 1.6%;
  padding-bottom: 1.6%;
}
.header a{
  text-decoration: none;
 }
.bg-header img{
  float: left;
  margin-right: 10px;
 }
 .logo{
  display: inline;
 }
.logo span{
  @include font(30px, $font-logo-2, $ligth);
 }
.logo .essay{
  @include font(21px, $font-light, #ecfa4d);
  text-transform: uppercase;
}
.logo .net{
  @include font(13px, $font-light, $ligth);
}
.logo p{
  @include font(13px, $font-general-normal, $ligth);
  margin: 0;
  position: relative;
  top: -5px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul{
  list-style-type: none;
  display: flex;
}
.menu li{
  margin-right: 35px;
}
.menu li:last-child{
  margin-right: 0;
}
.menu .dropbtn1:hover{
  color:  #ecfa4d;
  cursor: pointer;
}
.menu .dropbtn1:hover .d4{
  border-top: 8px solid #ecfa4d;
}
.menu .dropbtn1 a{
  color: $ligth;
}
.menu .dropbtn1 a:hover{
  color:  #ecfa4d;
}
.d4 {
  width: 0; 
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid $ligth;
  margin-left: 10px;
  }

// Buttons
/* Dropdown Button */
.dropbtn1 {
  background-color: $primary-1;
  color: $ligth;
  padding: 4px;
  font-size: 12px;
  border: none;
  font-family: $font-normal;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: $pr1-ligth-1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}
/* Links inside the dropdown */
.dropdown-content1 a {
  color: $ligth;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: $font-normal;
}
/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {color: #ecfa4d;}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1 {background-color: $primary-1;}

.phone-icon{
  border: solid 2px #ecfa4d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $primary-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-icon i{
  color: #ecfa4d;
  font-size: 14px;
}

.contact-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button3, .button1{
  width: 103px;
  text-transform: uppercase;
  color: $ligth;
  // margin-left: 10px;
}
.button1{
  margin-left: 10px;
}

// BURGER
/* Dropdown Button */
.dropbtn {
  // background-color: #3498DB;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 17px;
  width: 23px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: $primary-1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $pr1-ligth-1;
  min-width: 164px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -140px;
  top: 30px;
  border-radius: 4px;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: $ligth;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: $font-normal;
  text-transform: uppercase;
  font-size: 14px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  // background-color: $pr1-dark-1;
  color: #ecfa4d;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
.burger{
  display: inline-block;
  width: 23px;
  height: 3px;
  background-color: $ligth;
  position: relative;
  &::before{
    content: "";
    display: inline-block;
    width: 23px;
    height: 3px;
    background-color: $ligth;
    position: absolute;
    top: -7px;
  }
  &::after{
    content: "";
    display: inline-block;
    width: 23px;
    height: 3px;
    background-color: $ligth;
    position: absolute;
    top: 7px;
  }
}

@media (max-width: 1200px) {
  .menu .dropbtn1{
    font-size: 9px;
  }
  .menu li{
    margin-right: 30px;
  }
  .button3, .button1{
    width: 80px;
  }
  .d4 {
    border-top: 6px solid $ligth;
    }
  }

  @media (max-width: 992px) {
    .bg-header img{
      width: 40px;
      height: 40px;
      margin-right: 7px;
    }
    .header:first-child a{
      padding-right: 0;
     }
    .logo span{
      font-size: 15px;
     }
    .logo .essay{
      font-size: 10px;
    }
    .logo .net{
      font-family: $font-light;
      color:  $ligth;
      font-size: 7px;
    }
    .logo p{
      font-size: 7px;
    }
    .menu li{
      margin-right: 8px;
    }
    .button3, .button1{
      width: 60px;
      height: 25px;
      font-size: 10px;
    }
    .d4 {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 4px solid $ligth;
      }
    }

  @media (max-width: 767px) {
    .bg-header img{
      width: 30px;
      height: 30px;
      margin-right: 7px;
    }
    .logo span{
      font-size: 12px;
     }
    .logo .essay{
      font-size: 9px;
    }
    .logo .net{
      font-family: $font-light;
      color:  $ligth;
      font-size: 7px;
    }
    .logo p{
      font-size: 7px;
    }
    .menu li{
      margin-right: 8px;
    }
    .button3, .button1{
      width: 55px;
      height: 20px;
      font-size: 10px;
    }
    .d4 {
      border-top: 4px solid $ligth;
      }
    }
 
    // MOBILE
    .logo-mob{
      padding: 0;
      padding-top: 7px; 
      display: inline;
    }
  .menu-mobile{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0;
    }

















