.bg-work{
    padding-top: 5.8%;
    padding-bottom: 6%;
}

.bg-work h6{
    font-family: $font-regular;
    color: $pr1-dark-1;
    text-align: center;
}
.bg-work h2{
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}
.work h5{
    text-align: center;
    text-transform: uppercase;
    font-family: $font-semibild;
    padding-top: 25px;
    padding-bottom: 20px;
}

.bg-work span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-work-1 {
    width: 61px;
    height: 61px;
    background-position: -5px -633px;
}

.bg-work-2 {
    width: 51px;
    height: 64px;
    background-position: -5px -704px;
}

.bg-work-3 {
    width: 60px;
    height: 60px;
    background-position: -5px -778px;
}

.bg-work-4 {
    width: 62px;
    height: 62px;
    background-position: -5px -848px;
}
.work p{
    text-align: center; 
    font-size: 13px; 
}
.work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
    flex-direction: column;
    
}
.devided-arrow{
    width: 1px;
    height: 190px;
    border-right: solid 2px $pr1-ligth-3;
    position: absolute;
    right: 0;
    top: 10px;
}
.arrow-arrow{
    width: 20px;
    height: 20px;
    border-right: solid 2px $pr1-ligth-3;
    border-top: solid 2px $pr1-ligth-3;
    background-color: #fff;
    position: absolute;
    display: block;
    right: -10px;
    top: 95px;
    transform: rotate(45deg);
}